{% extends 'base.html' %}

{% block title %} i2FOOD: About Us {% endblock %}

{% block body %}
<section class="home-page home-img" style="background: url('../static/img/banner/sl3.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="page-text">
                        <h4>Welcome to Our Food Store</h4>
                        <h2>About Us</h2>
                    </div>
                    <div class="page-add">
                        <ul>
                            <li><a class="page-active" href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="about-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-image">
                    <img src="../static/img/about/ceo.jpg" alt="about">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-content">
                    <h6>Know More About Shop</h6>
                    <h3>Trusted Fast Food Store</h3>
                    <p>
                        Adequate nutrition is one of the pillars of public health. The estimation of nutrient intake
                        from food consumption requires reliable data on food composition. These data are also the
                        fundamentals of food-based dietary guidelines for healthy nutrition, containing the necessary
                        information on food sources for different nutrients.
                    </p>

                    Our mission is to improve your health by offering you fresh and high-quality food. We also provide
                    you with the nutrient composition of all your foods.
                    <br />Food nutritional information is provided by <a href="https://api-ninjas.com/api/nutrition">API
                        NINJAS</a>
                    </p>
                    <div class="name-content">
                        <h5>Romaric TEGUO</h5>
                        <p>CEO Store</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choose-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-lg-4 col-md-6">
                <div class="choose-single">
                    <i class="fas fa-hamburger"></i>
                    <h4><a href="#">Curated Products</a></h4>
                    <p>We select for you the best quality, natural and fresh foods to improve your health.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-single">
                    <i class="fas fa-utensils"></i>
                    <h4><a href="#">Shop Online</a></h4>
                    <p>First, create an account. Then, choose your box size and delivery preferences. There's no
                        contract,
                        no upfront costs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-single">
                    <i class="fas fa-pizza-slice"></i>
                    <h4><a href="#">Nutritional information</a></h4>
                    <p>We also provide you with the nutrient composition of all your foods.
                        It's provided by <a href="https://api-ninjas.com/api/nutrition">API
                            NINJAS.</a>>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TEAM-AREA -->
<section class="team-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Team Member</h2>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <img src="../static/img/about/ceo.png" alt="about">
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
                    <div class="team-content">
                        <h3 class="title">Romaric TEGUO</h3>
                        <span class="post">CEO Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <img src="../static/img/about/3.jpg" alt="about">
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
                    <div class="team-content">
                        <h3 class="title">Beauclair Papix</h3>
                        <span class="post">Solution Architect</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <img src="../static/img/about/8.jpg" alt="about">
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
                    <div class="team-content">
                        <h3 class="title">Noman</h3>
                        <span class="post">// Saler //</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <img src="../static/img/about/6.jpg" alt="about">
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
                    <div class="team-content">
                        <h3 class="title">Prinzly Claude</h3>
                        <span class="post">IT Engineer</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="client-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading section-heading2">
                    <h2>Clients Says</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="client-slider owl-carousel owl-theme">
                    <div class="testimonial-client">
                        <div class="pic">
                            <img src="../static/img/client/1.jpg" alt="1">
                        </div>
                        <div class="testimonial-content">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="description">
                                Adequate nutrition is one of the pillars of public health. The estimation of nutrient
                                intake from food consumption requires reliable data on food composition. These data are
                                also the fundamentals of food-based dietary guidelines for healthy nutrition, containing
                                the necessary information on food sources for different nutrients.
                            </p>
                            <h3 class="testimonial-title">Abdur Rajjak</h3>
                        </div>
                    </div>
                    <div class="testimonial-client">
                        <div class="pic">
                            <img src="../static/img/client/2.jpg" alt="1">
                        </div>
                        <div class="testimonial-content">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="description">
                                Adequate nutrition is one of the pillars of public health. The estimation of nutrient
                                intake from food consumption requires reliable data on food composition. These data are
                                also the fundamentals of food-based dietary guidelines for healthy nutrition, containing
                                the necessary information on food sources for different nutrients.
                            </p>
                            <h3 class="testimonial-title">Noman Bin</h3>
                        </div>
                    </div>
                    <div class="testimonial-client">
                        <div class="pic">
                            <img src="../static/img/client/3.jpg" alt="1">
                        </div>
                        <div class="testimonial-content">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="description">
                                Adequate nutrition is one of the pillars of public health. The estimation of nutrient
                                intake from food consumption requires reliable data on food composition. These data are
                                also the fundamentals of food-based dietary guidelines for healthy nutrition, containing
                                the necessary information on food sources for different nutrients.
                            </p>
                            <h3 class="testimonial-title">Sajib Rahman</h3>

                        </div>
                    </div>
                    <div class="testimonial-client">
                        <div class="pic">
                            <img src="../static/img/client/4.jpg" alt="1">
                        </div>
                        <div class="testimonial-content">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed accumsan diam.
                                Suspendisse molestie nibh at tempor mollis. Integer aliquet facilisis felis, ac porta
                                est cursus et.
                            </p>
                            <h3 class="testimonial-title">Armin Rahman</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- newsletters -->
<section class="Newsletter-area" style="background-image:url('../static/img/blog/news.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="subcribe-content">
                    <h3>Get The Latest Deals</h3>
                    <p>and receive 20% off coupon for first shopping</p>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="subscribe">
                    <input type="search" placeholder="Enter Email">
                    <input type="submit" value="subscribe">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}