{% extends 'base.html' %}
{% block title %}i2FOOD:Content Management{% endblock %}

{% block body %}
<!-- Banniere start-->
<section class="home-page home-img" style="background: url('../static/img/banner/page.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="page-text">
                        <h4>Content Management System</h4>
                            <h2>Users</h2>
                    </div>
                    <div class="page-add">
                        <ul>
                            <li ><a class="page-active" href="/admin">CMS</a></li>
                            <li><a href="/adminusers">Users</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>  
<!-- banniere-end -->
<!-- cart-start -->
<div id="cart" class="cart-page section-padding">
    <div class="container">
        <form action="#" class="search">
            <input type="search" class="form-control" id="search-box" placeholder="name of food...">
            <button class="fas fa-search"></button>
        </form>
        <div class="button-bar pt-20 text-end">
            <a href="/adduser" id="cancel-order" class="btn btn-lg">Add User</a>
        </div> 
        <div class="row">
            <h3>List of Users</h3>
            <div class="col-lg-12">
                <div class="table_page table-responsive ">
                    <table id="cart-table" class="cart-tabel">
                        <thead>
                            <tr>
                                <th class="user">User ID</th>
                                <th class="user">Profile</th>
                                <th class="user">First Name</th>
                                <th class="user">Last Name</th>
                                <th class="user">Sex</th>
                                <th class="user">Email</th>
                                <th class="user">Phone Numner</th>
                                <th class="user">Address</th>
                                <th class="user">Activity</th>
                                <!--th class="user">Update</th-->
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="user-id">{{user.user_id}}</td>
                                <td class="user-id">{{user.profile_id}} - {{user.profile.name}}</td>
                                <td class="user-id">{{user.first_name}}</td>
                                <td class="user-id">{{user.last_name}}</td>
                                <td class="user-id">{{user.sex}}</td>
                                <td class="user-id">{{user.email}}</td>
                                <td class="user-id">{{user.phone}}</td>
                                <td class="user-id">{{user.address}}</td>
                                <td class="user-id">{{user.activity}}</td>
                                <!--td class="user_update">
                                    <a href="/adminusers/{{ user.user_id }}" class="edit-from-cart" data-id="{{ user.user_id }}" style="cursor: pointer;">
                                        <i class="fa fa-edit text-danger"></i>
                                    </a>
                                </td-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        
            </div>
        </div>
    </div>
</div>
<!-- cart-end -->

{% endblock %}