{% extends 'base.html' %}
{% block title %}i2FOOD:Content Management{% endblock %}

{% block body %}
<!-- Banniere start-->
<section class="home-page home-img" style="background: url('../static/img/banner/page.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="page-text">
                        <h4>Content Management System</h4>
                            <h2>Orders</h2>
                    </div>
                    <div class="page-add">
                        <ul>
                            <li ><a class="page-active" href="/admin">CMS</a></li>
                            <li><a href="/admin">Order</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>  
<!-- banniere-end -->
<!-- cart-start -->
<div id="cart" class="cart-page section-padding">
    <div class="container">
        <form action="#" class="search">
            <input type="search" class="form-control" id="search-box" placeholder="name of food...">
            <button class="fas fa-search"></button>
        </form>
        <div class="button-bar pt-20 text-end">
            <a href="/adminproducts" id="cancel-order" class="btn btn-lg">Manage Product</a>
            <a href="/addproduct" id="cancel-order" class="btn btn-lg">Add Product</a>
            <a href="/adminusers" id="cancel-order" class="btn btn-lg">Manage User</a>
            <a href="/adduser" id="cancel-order" class="btn btn-lg">Add User</a>
        </div> 
        <div class="row">
            <h3>List of Orders</h3>
            <div class="col-lg-12">
                <div class="table_page table-responsive ">
                    <table id="cart-table" class="cart-tabel">
                        <thead>
                            <tr>
                                <th class="order_thumb">Order ID</th>
                                <th class="order_thumb">User ID</th>
                                <th class="order_thumb">User Name</th>
                                <th class="order_name">Order Date</th>
                                <th class="order_thumb">Total Amount</th>
                                <th class="order-price">State</th>
                                <th class="order_total">Create time</th>
                                <th class="order_total">Update time</th>
                                <th class="order_remove">View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td class="order-id">{{order.order_id}}</td>
                                <td class="user-id">{{order.user_id}}</td>
                                <td class="user-name">{{order.user.first_name}} {{order.user.last_name}}</td>
                                <td class="order-date">{{order.order_date }}</td>
                                <td class="order-amount">{{ order.total_amount_str() }}</td>
                                <td class="order-state">{{order.state}}</td>
                                <td class="order_name">{{ order.create_time }}</td>
                                <td class="order_name">{{ order.update_time }}</td>
                                <td class="order_remove">
                                    <a href="/admin/{{ order.order_id }}" class="edit-from-cart" data-id="{{ order.order_id }}" style="cursor: pointer;">
                                        <i class="fa fa-edit text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        
            </div>
        </div>
    </div>
</div>
<!-- cart-end -->

{% endblock %}